header {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
    /* border: 1px solid red; */
}

.translator-section {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

/* .translate-form {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
} */

.translate-input {
    width: 35vw;
    height: 25vh;
    /* border-radius: 25px; */
    padding: 1vw;
    /* display: flex; */
    /* border: 1px solid brown; */
   
}

.select-and-btn {
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid orange; */
}


.output-div {
    border: 1px solid green;
    width: 35vw;
    height: 25vh;
    /* border-radius: 25px; */
    overflow: scroll;
    padding: 1vw;


    /* hides the horizontal scroll bar */
    overflow-x: hidden;  
    
}

.header-img {
    width: 40%;
    height: auto;
}

.yandex-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 10.5vw;
}

.translate-btn {
    border-radius: 12px;
}